[build-system]
requires = ["flit_core>=3.2"]
build-backend = "flit_core.buildapi"

[project]
name = "GaPFlow"
description = "Gap-averaged flow simulations with Gaussian Process regression."
readme = "README.md"
authors = [
    { name = "Hannes Holey", email = "hannes.holey@unimi.it" },
]
classifiers = [
    "Programming Language :: Python :: 3",
    # "License :: OSI Approved :: MIT License"
]

requires-python = ">=3.9, <3.13"
dynamic = ["version"]
dependencies = [
	"muGrid==0.95.0",
	"matplotlib==3.10.6",
	"mpi4py==4.1.0",
	"gpjax==0.11.2",
	"netCDF4==1.7.2",
	"pandas==2.3.2"
]

[project.optional-dependencies]
test = ['pytest',
		'coverage']

[project.scripts]
gpf_plot_height="GaPFlow.cli:plot_height.main"

[project.urls]
Source = "https://github.com/hannes-holey/gapflow"

[tool.flit.sdist]
include = ["GaPFlow/resources/*"]

[tool.pytest.ini_options]
addopts = "-v"
testpaths = ["tests"]

